@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  place-content: center;
  place-items: center;
  font-family: "Outfit", sans-serif;
}
.card-section {
  width: 300px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 15px 15px 30px;
  border-radius: 10px;

  & h1 {
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    margin: 10px 0;
  }

 & p {
    padding: 0px 20px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
}
}